ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

figure img {
  max-width: 600px;
  align-items: center;
}

footer#page-footer{
  color: blueviolet;
}

footer#page-footer p{
  text-align: center;
}

